[submodule "external/STL"]
	path = external/STL
	url = git@github.com:hasithsuran/libCpp_STL.git
[submodule "external/core"]
	path = external/core
	url = git@github.com:hasithsuran/libCpp_basics.git
[submodule "external/design_concepts"]
	path = external/design_concepts
	url = git@github.com:hasithsuran/lib_designPatterns.git
